In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('AnonymityPoll.csv')

In [3]:
df.head()

,Internet.Use,Smartphone,Sex,Age,State,Region,Conservativeness,Info.On.Internet,Worry.About.Info,Privacy.Importance,Anonymity.Possible,Tried.Masking.Identity,Privacy.Laws.Effective
0,1.0,0.0,Male,62.0,Massachusetts,Northeast,4.0,0.0,1.0,100.000000,0.0,0.0,0.0
1,1.0,0.0,Male,45.0,South Carolina,South,1.0,1.0,0.0,0.000000,1.0,0.0,1.0
2,0.0,1.0,Female,70.0,New Jersey,Northeast,4.0,0.0,0.0,NaN,0.0,0.0,NaN
3,1.0,0.0,Male,70.0,Georgia,South,4.0,3.0,1.0,88.888889,1.0,0.0,0.0
4,0.0,NaN,Female,80.0,Georgia,South,4.0,NaN,NaN,NaN,NaN,NaN,NaN

roblem 1.1 - Loading and Summarizing the Dataset
0 points possible (ungraded)
Using read.csv(), load the dataset from AnonymityPoll.csv into a data frame called poll and summarize it with the summary() and str() functions.

How many people participated in the poll?

In [4]:
df.shape[0]

1002

Problem 1.2 - Loading and Summarizing the Dataset
0 points possible (ungraded)
Let's look at the breakdown of the number of people with smartphones using the table() and summary() commands on the Smartphone variable. (HINT: These three numbers should sum to 1002.)

How many interviewees responded that they use a smartphone?

In [5]:
(df.Smartphone==1).sum()

487

How many interviewees responded that they don't use a smartphone?

In [6]:
(df.Smartphone<1).sum()

472

How many interviewees did not respond to the question, resulting in a missing value, or NA, in the summary() output?

In [7]:
(df.Smartphone.isnull()).sum()

43

Problem 1.3 - Loading and Summarizing the Dataset
0 points possible (ungraded)
By using the table() function on two variables, we can tell how they are related. To use the table() function on two variables, just put the two variable names inside the parentheses, separated by a comma (don't forget to add poll$ before each variable name). In the output, the possible values of the first variable will be listed in the left, and the possible values of the second variable will be listed on the top. Each entry of the table counts the number of observations in the data set that have the value of the first value in that row, and the value of the second variable in that column. For example, suppose we want to create a table of the variables "Sex" and "Region". We would type

table(poll$Sex, poll$Region)

in our R Console, and we would get as output

Midwest Northeast South West

Female 123 90 176 116

Male 116 76 183 122

This table tells us that we have 123 people in our dataset who are female and from the Midwest, 116 people in our dataset who are male and from the Midwest, 90 people in our dataset who are female and from the Northeast, etc.

You might find it helpful to use the table() function to answer the following questions:

Which of the following are states in the Midwest census region? (Select all that apply.)

In [15]:
df = df.reset_index()

In [30]:
pivot_table = pd.pivot_table(df,index=['State'],aggfunc='count',dropna=False,fill_value=0,columns=['Region'])[['index']]

In [31]:
pivot_table.columns=pivot_table.columns.droplevel()
pivot_table[pivot_table.Midwest>0]

Region        Midwest  Northeast  South  West
State
Illinois           32          0      0     0
Indiana            27          0      0     0
Iowa               14          0      0     0
Kansas             14          0      0     0
Michigan           31          0      0     0
Minnesota          15          0      0     0
Missouri           26          0      0     0
Nebraska           11          0      0     0
North Dakota        5          0      0     0
Ohio               38          0      0     0
South Dakota        3          0      0     0
Wisconsin          23          0      0     0

Which was the state in the South census region with the largest number of interviewees?

In [34]:
pivot_table.South.argmax()

'Texas'

Problem 2.1 - Internet and Smartphone Users
0 points possible (ungraded)
As mentioned in the introduction to this problem, many of the response variables (Info.On.Internet, Worry.About.Info, Privacy.Importance, Anonymity.Possible, and Tried.Masking.Identity) were not collected if an interviewee does not use the Internet or a smartphone, meaning the variables will have missing values for these interviewees.

How many interviewees reported not having used the Internet and not having used a smartphone?

In [50]:
pivot_2 = pd.pivot_table(df,index=['Internet.Use'],columns=['Smartphone'],aggfunc='count')[['index']]

In [52]:
pivot_2

             index
Smartphone     0.0  1.0
Internet.Use
0.0            186   17
1.0            285  470

Problem 2.2 - Internet and Smartphone Users
0 points possible (ungraded)
How many interviewees have a missing value for their Internet use?


  unanswered  
How many interviewees have a missing value for their smartphone use?

In [60]:
print df[df['Internet.Use'].isnull()].shape[0]
print df[df['Smartphone'].isnull()].shape[0]

1
43

Problem 2.3 - Internet and Smartphone Users
0 points possible (ungraded)
Use the subset function to obtain a data frame called "limited", which is limited to interviewees who reported Internet use or who reported smartphone use. In lecture, we used the & symbol to use two criteria to make a subset of the data. To only take observations that have a certain value in one variable or the other, the | character can be used in place of the & symbol. This is also called a logical "or" operation.

How many interviewees are in the new data frame?

In [69]:
df_limited = df[(df['Internet.Use']>0) | (df['Smartphone']>0)]

In [70]:
df_limited.shape[0]

792

In [72]:
for col in df_limited.columns:
    if df_limited[df_limited[col].isnull()].shape[0]>0:
        print col

Smartphone
Age
Conservativeness
Worry.About.Info
Privacy.Importance
Anonymity.Possible
Tried.Masking.Identity
Privacy.Laws.Effective

Problem 3.2 - Summarizing Opinions about Internet Privacy
0 points possible (ungraded)
What is the average number of pieces of personal information on the Internet, according to the Info.On.Internet variable?