In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_demo=pd.read_csv('CPSData.csv')

In [70]:
df_demo.head()

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry,is_US_citizen,has_NAN,NAN_Married,Missing_MetroAreCode
0,1,South,Alabama,26620.0,85,Widowed,Female,Associate degree,White,0,57,"Citizen, Native",Retired,NaN,True,True,False,False
1,3,South,Alabama,13820.0,21,Never Married,Male,High school,Black,0,57,"Citizen, Native",Unemployed,Professional and business services,True,False,False,False
2,3,South,Alabama,13820.0,37,Never Married,Female,High school,Black,0,57,"Citizen, Native",Disabled,NaN,True,True,False,False
3,3,South,Alabama,13820.0,18,Never Married,Male,No high school diploma,Black,0,57,"Citizen, Native",Not in Labor Force,NaN,True,True,False,False
4,3,South,Alabama,26620.0,52,Widowed,Female,Associate degree,White,0,57,"Citizen, Native",Employed,Professional and business services,True,False,False,False

In [92]:
df_demo.Education.value_counts(dropna=False)

High school                30906
NaN                        25338
Bachelor's degree          19443
Some college, no degree    18863
No high school diploma     16095
Associate degree            9913
Master's degree             7816
Doctorate degree            1516
Professional degree         1412
Name: Education, dtype: int64

Problem 1.1 - Loading and Summarizing the Dataset
1 point possible (graded)
Load the dataset from CPSData.csv into a data frame called CPS, and view the dataset with the summary() and str() commands.

Explanation
You can load the data with:
CPS = read.csv("CPSData.csv")
How many interviewees are in the dataset?

In [4]:
df_demo.PeopleInHousehold.count()

131302

Problem 1.2 - Loading and Summarizing the Dataset
1 point possible (graded)
Among the interviewees with a value reported for the Industry variable, what is the most common industry of employment? Please enter the name exactly how you see it.

In [5]:
df_demo.Industry.value_counts().index[0]

'Educational and health services'

Problem 1.3 - Loading and Summarizing the Dataset
2 points possible (graded)
Recall from the homework assignment "The Analytical Detective" that you can call the sort() function on the output of the table() function to obtain a sorted breakdown of a variable. For instance, sort(table(CPS$Region)) sorts the regions by the number of interviewees from that region.

In [6]:
print df_demo.State.value_counts().index[0]
print df_demo.State.value_counts().index[-1]

California
New Mexico

Problem 1.4 - Loading and Summarizing the Dataset
1 point possible (graded)
What proportion of interviewees are citizens of the United States?

In [7]:
df_demo['is_US_citizen']=~df_demo.Citizenship.str.contains('Non')

In [8]:
df_demo.is_US_citizen.value_counts()[1]*1.0/df_demo.is_US_citizen.count()

0.94219433062710389

Problem 1.5 - Loading and Summarizing the Dataset
1 point possible (graded)
The CPS differentiates between race (with possible values American Indian, Asian, Black, Pacific Islander, White, or Multiracial) and ethnicity. A number of interviewees are of Hispanic ethnicity, as captured by the Hispanic variable. For which races are there at least 250 interviewees in the CPS dataset of Hispanic ethnicity? (Select all that apply.)

In [9]:
df_demo.groupby(['Hispanic','Race'])[['PeopleInHousehold']].count()

                           PeopleInHousehold
Hispanic Race
0        American Indian                1129
         Asian                          6407
         Black                         13292
         Multiracial                    2449
         Pacific Islander                541
         White                         89190
1        American Indian                 304
         Asian                           113
         Black                           621
         Multiracial                     448
         Pacific Islander                 77
         White                         16731

Problem 2.1 - Evaluating Missing Values
1 point possible (graded)
Which variables have at least one interviewee with a missing (NA) value? (Select all that apply.)

In [10]:
for col in df_demo.columns.tolist():
    if df_demo[col].isnull().any():
        print col

MetroAreaCode
Married
Education
EmploymentStatus
Industry

In [11]:
df_demo['has_NAN']=df_demo.apply(lambda x: x.isnull().any(),axis=1)

In [12]:
df_demo.has_NAN.value_counts()

True     81906
False    49396
Name: has_NAN, dtype: int64

Problem 2.2 - Evaluating Missing Values
1 point possible (graded)
Often when evaluating a new dataset, we try to identify if there is a pattern in the missing values in the dataset. We will try to determine if there is a pattern in the missing values of the Married variable. The function is.na(CPS$Married) returns a vector of TRUE/FALSE values for whether the Married variable is missing. We can see the breakdown of whether Married is missing based on the reported value of the Region variable with the function table(CPS$Region, is.na(CPS$Married)). Which is the most accurate:

In [13]:
df_demo['NAN_Married'] =df_demo.Married.isnull()

In [14]:
df_demo.groupby(['NAN_Married','Age']).count().PeopleInHousehold

NAN_Married  Age
False        15     1795
             16     1751
             17     1764
             18     1596
             19     1517
             20     1398
             21     1525
             22     1536
             23     1638
             24     1627
             25     1604
             26     1643
             27     1657
             28     1736
             29     1645
             30     1854
             31     1762
             32     1790
             33     1804
             34     1653
             35     1716
             36     1663
             37     1531
             38     1530
             39     1542
             40     1571
             41     1673
             42     1711
             43     1819
             44     1764
                    ...
             67     1227
             68     1130
             69     1062
             70     1195
             71     1031
             72      941
             73      896
             74      842
             75      763
             76      729
             77      698
             78      659
             79      661
             80     2664
             85     2446
True         0      1283
             1      1559
             2      1574
             3      1693
             4      1695
             5      1795
             6      1721
             7      1681
             8      1729
             9      1748
             10     1750
             11     1721
             12     1797
             13     1802
             14     1790
Name: PeopleInHousehold, dtype: int64

Problem 2.3 - Evaluating Missing Values
2 points possible (graded)
As mentioned in the variable descriptions, MetroAreaCode is missing if an interviewee does not live in a metropolitan area. Using the same technique as in the previous question, answer the following questions about people who live in non-metropolitan areas.

How many states had all interviewees living in a non-metropolitan area (aka they have a missing MetroAreaCode value)? For this question, treat the District of Columbia as a state (even though it is not technically a state).

In [15]:
df_demo['Missing_MetroAreCode']=df_demo.MetroAreaCode.isnull()

In [16]:
df_t = df_demo.groupby(['State','Missing_MetroAreCode']).count().unstack('Missing_MetroAreCode')[['PeopleInHousehold']]

In [17]:
df_t.columns=df_t.columns.droplevel(level=0)
df_t.columns=['No_metro_code', 'has_metro_code']

In [18]:
df_t.sort_values(by='No_metro_code')

                      No_metro_code  has_metro_code
State
Montana                       199.0          1015.0
West Virginia                 344.0          1065.0
Mississippi                   376.0           854.0
North Dakota                  432.0          1213.0
South Dakota                  595.0          1405.0
Vermont                       657.0          1233.0
Arkansas                      724.0           697.0
Idaho                         761.0           757.0
Nebraska                      816.0          1133.0
New Mexico                    832.0           270.0
Kentucky                      908.0           933.0
Maine                         909.0          1354.0
Alabama                      1020.0           356.0
Oklahoma                     1024.0           499.0
South Carolina               1139.0           519.0
New Hampshire                1148.0          1514.0
Tennessee                    1149.0           635.0
Louisiana                    1216.0           234.0
Kansas                       1234.0           701.0
Iowa                         1297.0          1231.0
Arizona                      1327.0           201.0
Indiana                      1420.0           584.0
Missouri                     1440.0           705.0
Utah                         1455.0           387.0
Oregon                       1519.0           424.0
Hawaii                       1576.0           523.0
Nevada                       1609.0           247.0
North Carolina               1642.0           977.0
Delaware                     1696.0           518.0
District of Columbia         1791.0             NaN
Massachusetts                1858.0           129.0
Wisconsin                    1882.0           804.0
Washington                   1937.0           429.0
Minnesota                    2150.0           989.0
Rhode Island                 2209.0             NaN
Georgia                      2250.0           557.0
Virginia                     2367.0           586.0
Michigan                     2517.0           546.0
Colorado                     2545.0           380.0
New Jersey                   2567.0             NaN
Connecticut                  2593.0           243.0
Ohio                         2754.0           924.0
Maryland                     2978.0           222.0
Pennsylvania                 3245.0           685.0
Illinois                     3473.0           439.0
Florida                      4947.0           202.0
New York                     5144.0           451.0
Texas                        6060.0          1017.0
California                  11333.0           237.0
Alaska                          NaN          1590.0
Wyoming                         NaN          1624.0

Problem 2.4 - Evaluating Missing Values
1 point possible (graded)
Which region of the United States has the largest proportion of interviewees living in a non-metropolitan area?

In [19]:
df_regions_no_metroCode = pd.DataFrame(df_demo.groupby(['Region','Missing_MetroAreCode']).count().PeopleInHousehold)

df_regions_no_metroCode = df_regions_no_metroCode.unstack('Missing_MetroAreCode')
df_regions_no_metroCode.columns = df_regions_no_metroCode.columns.droplevel(level=0)
df_regions_no_metroCode.columns =['Area_Code','No_Code']
df_regions_no_metroCode['percentage Area_Code']=np.round(100.0*df_regions_no_metroCode['Area_Code']/df_regions_no_metroCode.sum(axis=1),2)
df_regions_no_metroCode['percentage No Metro Area Code ']=np.round(100.0*df_regions_no_metroCode['No_Code']/df_regions_no_metroCode.sum(axis=1),2)

df_regions_no_metroCode

,Area_Code,No_Code,percentage Area_Code,percentage No Metro Area Code
Region,,,,
Midwest,20010,10674,65.21,34.71
Northeast,20330,5609,78.38,21.56
South,31631,9871,76.22,23.74
West,25093,8084,75.63,24.31

Problem 2.5 - Evaluating Missing Values
4.0 points possible (graded)
While we were able to use the table() command to compute the proportion of interviewees from each region not living in a metropolitan area, it was somewhat tedious (it involved manually computing the proportion for each region) and isn't something you would want to do if there were a larger number of options. It turns out there is a less tedious way to compute the proportion of values that are TRUE. The mean() function, which takes the average of the values passed to it, will treat TRUE as 1 and FALSE as 0, meaning it returns the proportion of values that are true. For instance, mean(c(TRUE, FALSE, TRUE, TRUE)) returns 0.75. Knowing this, use tapply() with the mean function to answer the following questions:

Which state has a proportion of interviewees living in a non-metropolitan area closest to 30%?

In [20]:
df_states_no_metroCode = pd.DataFrame(df_demo.groupby(['State','Missing_MetroAreCode']).count().PeopleInHousehold)

df_states_no_metroCode = df_states_no_metroCode.unstack('Missing_MetroAreCode')
df_states_no_metroCode.columns = df_states_no_metroCode.columns.droplevel(level=0)
df_states_no_metroCode.columns =['Area_Code','No_Code']
df_states_no_metroCode['percentage Area_Code']=np.round(100.0*df_states_no_metroCode['Area_Code']/df_states_no_metroCode.sum(axis=1),2)
df_states_no_metroCode['percentage No Metro Area Code']=np.round(100.0*df_states_no_metroCode['No_Code']/df_states_no_metroCode.sum(axis=1),2)

df_states_no_metroCode.sort_values(by='percentage No Metro Area Code')

,Area_Code,No_Code,percentage Area_Code,percentage No Metro Area Code
State,,,,
California,11333.0,237.0,97.95,2.03
Florida,4947.0,202.0,96.08,3.85
Massachusetts,1858.0,129.0,93.51,6.20
Maryland,2978.0,222.0,93.06,6.74
New York,5144.0,451.0,91.94,7.93
Connecticut,2593.0,243.0,91.43,8.30
Illinois,3473.0,439.0,88.78,10.97
Arizona,1327.0,201.0,86.85,12.45
Colorado,2545.0,380.0,87.01,12.62
Nevada,1609.0,247.0,86.69,12.71
Texas,6060.0,1017.0,85.63,14.20
Louisiana,1216.0,234.0,83.86,15.26
Pennsylvania,3245.0,685.0,82.57,17.07
Michigan,2517.0,546.0,82.17,17.36
Washington,1937.0,429.0,81.87,17.53
Georgia,2250.0,557.0,80.16,19.29
Virginia,2367.0,586.0,80.16,19.32
Utah,1455.0,387.0,78.99,20.15
Oregon,1519.0,424.0,78.18,20.98
Delaware,1696.0,518.0,76.60,22.61
New Mexico,832.0,270.0,75.50,22.93
Hawaii,1576.0,523.0,75.08,24.06
Alabama,1020.0,356.0,74.13,24.55
Ohio,2754.0,924.0,74.88,24.62
Indiana,1420.0,584.0,70.86,28.15
Wisconsin,1882.0,804.0,70.07,29.17
South Carolina,1139.0,519.0,68.70,30.06
Minnesota,2150.0,989.0,68.49,30.83
Oklahoma,1024.0,499.0,67.24,31.38
Missouri,1440.0,705.0,67.13,31.87
Tennessee,1149.0,635.0,64.41,34.35
Kansas,1234.0,701.0,63.77,35.07
North Carolina,1642.0,977.0,62.70,36.43
Arkansas,724.0,697.0,50.95,47.35
Iowa,1297.0,1231.0,51.31,47.73
Idaho,761.0,757.0,50.13,48.27
Kentucky,908.0,933.0,49.32,49.36
New Hampshire,1148.0,1514.0,43.13,55.97
Nebraska,816.0,1133.0,41.87,56.91
Maine,909.0,1354.0,40.17,58.79
Vermont,657.0,1233.0,34.76,64.06
Mississippi,376.0,854.0,30.57,67.75
South Dakota,595.0,1405.0,29.75,69.22
North Dakota,432.0,1213.0,26.26,72.58
West Virginia,344.0,1065.0,24.41,74.30
Montana,199.0,1015.0,16.39,82.49
Alaska,NaN,1590.0,NaN,100.00
Wyoming,NaN,1624.0,NaN,100.00
District of Columbia,1791.0,NaN,100.00,NaN
New Jersey,2567.0,NaN,100.00,NaN
Rhode Island,2209.0,NaN,100.00,NaN

Problem 3.1 - Integrating Metropolitan Area Data
2 points possible (graded)
Codes like MetroAreaCode and CountryOfBirthCode are a compact way to encode factor variables with text as their possible values, and they are therefore quite common in survey datasets. In fact, all but one of the variables in this dataset were actually stored by a numeric code in the original CPS datafile.

When analyzing a variable stored by a numeric code, we will often want to convert it into the values the codes represent. To do this, we will use a dictionary, which maps the the code to the actual value of the variable. We have provided dictionaries MetroAreaCodes.csv and CountryCodes.csv, which respectively map MetroAreaCode and CountryOfBirthCode into their true values. Read these two dictionaries into data frames MetroAreaMap and CountryMap.

How many observations (codes for metropolitan areas) are there in MetroAreaMap?

In [21]:
df_metro = pd.read_csv('MetroAreaCodes.csv')
df_metro.head()

   Code                            MetroArea
0   460          Appleton-Oshkosh-Neenah, WI
1  3000    Grand Rapids-Muskegon-Holland, MI
2  3160  Greenville-Spartanburg-Anderson, SC
3  3610                        Jamestown, NY
4  3720           Kalamazoo-Battle Creek, MI

In [22]:
df_metro.shape

(271, 2)

How many observations (codes for countries) are there in CountryMap?

In [23]:
df_countries = pd.read_csv('CountryCodes.csv')
df_countries.head()

   Code                   Country
0    57             United States
1    66                      Guam
2    73               Puerto Rico
3    78      U. S. Virgin Islands
4    96  Other U. S. Island Areas

In [24]:
df_countries.shape

(149, 2)

Problem 3.2 - Integrating Metropolitan Area Data
2 points possible (graded)
To merge in the metropolitan areas, we want to connect the field MetroAreaCode from the CPS data frame with the field Code in MetroAreaMap. The following command merges the two data frames on these columns, overwriting the CPS data frame with the result:

CPS = merge(CPS, MetroAreaMap, by.x="MetroAreaCode", by.y="Code", all.x=TRUE)

The first two arguments determine the data frames to be merged (they are called "x" and "y", respectively, in the subsequent parameters to the merge function). by.x="MetroAreaCode" means we're matching on the MetroAreaCode variable from the "x" data frame (CPS), while by.y="Code" means we're matching on the Code variable from the "y" data frame (MetroAreaMap). Finally, all.x=TRUE means we want to keep all rows from the "x" data frame (CPS), even if some of the rows' MetroAreaCode doesn't match any codes in MetroAreaMap (for those familiar with database terminology, this parameter makes the operation a left outer join instead of an inner join).

Review the new version of the CPS data frame with the summary() and str() functions. What is the name of the variable that was added to the data frame by the merge() operation?

In [34]:
df_demo_metro=pd.merge(df_demo,df_metro[['MetroArea','Code']],left_on='MetroAreaCode',right_on='Code',how='left')
df_demo_metro.head()

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry,is_US_citizen,has_NAN,NAN_Married,Missing_MetroAreCode,MetroArea,Code
0,1,South,Alabama,26620.0,85,Widowed,Female,Associate degree,White,0,57,"Citizen, Native",Retired,NaN,True,True,False,False,"Huntsville, AL",26620.0
1,3,South,Alabama,13820.0,21,Never Married,Male,High school,Black,0,57,"Citizen, Native",Unemployed,Professional and business services,True,False,False,False,"Birmingham-Hoover, AL",13820.0
2,3,South,Alabama,13820.0,37,Never Married,Female,High school,Black,0,57,"Citizen, Native",Disabled,NaN,True,True,False,False,"Birmingham-Hoover, AL",13820.0
3,3,South,Alabama,13820.0,18,Never Married,Male,No high school diploma,Black,0,57,"Citizen, Native",Not in Labor Force,NaN,True,True,False,False,"Birmingham-Hoover, AL",13820.0
4,3,South,Alabama,26620.0,52,Widowed,Female,Associate degree,White,0,57,"Citizen, Native",Employed,Professional and business services,True,False,False,False,"Huntsville, AL",26620.0

How many interviewees have a missing value for the new metropolitan area variable? Note that all of these interviewees would have been removed from the merged data frame if we did not include the all.x=TRUE parameter.

In [36]:
df_demo_metro[df_demo_metro.MetroArea.isnull()].shape

(34238, 20)

Problem 3.3 - Integrating Metropolitan Area Data
1 point possible (graded)
Which of the following metropolitan areas has the largest number of interviewees?

In [55]:
print df_demo_metro.groupby('MetroArea').PeopleInHousehold.count().sort_values(ascending=False)

MetroArea
New York-Northern New Jersey-Long Island, NY-NJ-PA    5409
Washington-Arlington-Alexandria, DC-VA-MD-WV          4177
Los Angeles-Long Beach-Santa Ana, CA                  4102
Philadelphia-Camden-Wilmington, PA-NJ-DE              2855
Chicago-Naperville-Joliet, IN-IN-WI                   2772
Providence-Fall River-Warwick, MA-RI                  2284
Boston-Cambridge-Quincy, MA-NH                        2229
Minneapolis-St Paul-Bloomington, MN-WI                1942
Dallas-Fort Worth-Arlington, TX                       1863
Houston-Baytown-Sugar Land, TX                        1649
Honolulu, HI                                          1576
Miami-Fort Lauderdale-Miami Beach, FL                 1554
Atlanta-Sandy Springs-Marietta, GA                    1552
Denver-Aurora, CO                                     1504
Baltimore-Towson, MD                                  1483
San Francisco-Oakland-Fremont, CA                     1386
Detroit-Warren-Livonia, MI                            1354
Las Vegas-Paradise, NV                                1299
Riverside-San Bernardino, CA                          1290
Seattle-Tacoma-Bellevue, WA                           1255
Portland-Vancouver-Beaverton, OR-WA                   1089
Phoenix-Mesa-Scottsdale, AZ                            971
Kansas City, MO-KS                                     962
Omaha-Council Bluffs, NE-IA                            957
St. Louis, MO-IL                                       956
San Diego-Carlsbad-San Marcos, CA                      907
Hartford-West Hartford-East Hartford, CT               885
Tampa-St. Petersburg-Clearwater, FL                    842
Pittsburgh, PA                                         732
Bridgeport-Stamford-Norwalk, CT                        730
                                                      ...
Farmington, NM                                          64
Florence, AL                                            63
Monroe, MI                                              63
Lubbock, TX                                             63
Johnstown, PA                                           63
Jacksonville, NC                                        63
Anderson, IN                                            62
Napa, CA                                                61
Anniston-Oxford, AL                                     61
Chico, CA                                               60
Panama City-Lynn Haven, FL                              59
Columbus, GA-AL                                         59
Joplin, MO                                              59
Madera, CA                                              57
Hickory-Morgantown-Lenoir, NC                           57
Vineland-Millville-Bridgeton, NJ                        54
Prescott, AZ                                            54
Santa Fe, NM                                            52
Johnson City, TN                                        52
Niles-Benton Harbor, MI                                 51
Midland, TX                                             51
Punta Gorda, FL                                         48
Columbia, MO                                            47
Tallahassee, FL                                         43
Warner Robins, GA                                       42
Valdosta, GA                                            42
Bloomington-Normal IL                                   40
Springfield, OH                                         34
Ocean City, NJ                                          30
Bowling Green, KY                                       29
Name: PeopleInHousehold, dtype: int64

Problem 3.4 - Integrating Metropolitan Area Data
2.0 points possible (graded)
Which metropolitan area has the highest proportion of interviewees of Hispanic ethnicity? Hint: Use tapply() with mean, as in the previous subproblem. Calling sort() on the output of tapply() could also be helpful here.

In [64]:
df_demo_metro_hispanic = df_demo_metro.groupby(['MetroArea','Hispanic']).PeopleInHousehold.count().unstack('Hispanic')

In [67]:
df_demo_metro_hispanic['Ratio']=df_demo_metro_hispanic[1]*100.0/df_demo_metro_hispanic.sum(axis=1)

In [69]:
df_demo_metro_hispanic.Ratio.argmax()

'Laredo, TX'

Problem 3.5 - Integrating Metropolitan Area Data
2.0 points possible (graded)
Remembering that CPS$Race == "Asian" returns a TRUE/FALSE vector of whether an interviewee is Asian, determine the number of metropolitan areas in the United States from which at least 20% of interviewees are Asian.

In [72]:
df_demo_metro_asian = df_demo_metro
df_demo_metro_asian['Asian']=df_demo_metro_asian.Race=='Asian'

In [78]:
groupyAsian = df_demo_metro_asian.groupby(['MetroArea','Asian']).PeopleInHousehold.count().unstack('Asian')

In [87]:
groupyAsian['Ratio']=groupyAsian[True]*100.0/groupyAsian.sum(axis=1)

In [89]:
groupyAsian[groupyAsian.Ratio>=20]

Asian                                False   True      Ratio
MetroArea
Honolulu, HI                         785.0  791.0  49.148207
San Francisco-Oakland-Fremont, CA   1044.0  342.0  24.327929
San Jose-Sunnyvale-Santa Clara, CA   508.0  162.0  23.496269

Problem 3.6 - Integrating Metropolitan Area Data
1 point possible (graded)
Normally, we would look at the sorted proportion of interviewees from each metropolitan area who have not received a high school diploma with the command:

sort(tapply(CPS$Education == "No high school diploma", CPS$MetroArea, mean))

However, none of the interviewees aged 14 and younger have an education value reported, so the mean value is reported as NA for each metropolitan area. To get mean (and related functions, like sum) to ignore missing values, you can pass the parameter na.rm=TRUE. Passing na.rm=TRUE to the tapply function, determine which metropolitan area has the smallest proportion of interviewees who have received no high school diploma.

In [106]:
df_demo_metro_no_highschool = df_demo_metro

In [109]:
groupy_no_highschool = df_demo_metro_no_highschool.groupby(['MetroArea','Education']).PeopleInHousehold.count().unstack('Education')
#groupy_no_highschool['Ratio']=groupy_no_highschool[True]*100.0/groupy_no_highschool.sum(axis=1)

In [120]:
groupy_no_highschool['Ratio_No_Highschool']=groupy_no_highschool['No high school diploma']*100.0/groupy_no_highschool.sum(axis=1)

In [122]:
groupy_no_highschool['Ratio_No_Highschool'].argmin()

'Iowa City, IA'

Problem 4.1 - Integrating Country of Birth Data
2 points possible (graded)
Just as we did with the metropolitan area information, merge in the country of birth information from the CountryMap data frame, replacing the CPS data frame with the result. If you accidentally overwrite CPS with the wrong values, remember that you can restore it by re-loading the data frame from CPSData.csv and then merging in the metropolitan area information using the command provided in the previous subproblem.

What is the name of the variable added to the CPS data frame by this merge operation?

In [131]:
df_demo_metro_birth = pd.merge(df_demo_metro,df_countries,left_on='CountryOfBirthCode',right_on='Code',how='left')

In [129]:
df_demo_metro_birth.columns

Index([u'PeopleInHousehold', u'Region', u'State', u'MetroAreaCode', u'Age',
       u'Married', u'Sex', u'Education', u'Race', u'Hispanic',
       u'CountryOfBirthCode', u'Citizenship', u'EmploymentStatus', u'Industry',
       u'is_US_citizen', u'has_NAN', u'NAN_Married', u'Missing_MetroAreCode',
       u'MetroArea', u'Code_x', u'Asian', u'No High school diploma', u'Code_y',
       u'Country'],
      dtype='object')

How many interviewees have a missing value for the new country of birth variable?

In [134]:
df_demo_metro_birth[df_demo_metro_birth.Country.isnull()].shape

(176, 24)

Problem 4.2 - Integrating Country of Birth Data
2.0 points possible (graded)
Among all interviewees born outside of North America, which country was the most common place of birth?

In [143]:
df_demo_metro_birth.groupby('Country').count().PeopleInHousehold.sort_values(ascending=False).head(5)

Country
United States    115063
Mexico             3921
Philippines         839
India               770
China               581
Name: PeopleInHousehold, dtype: int64

Problem 4.3 - Integrating Country of Birth Data
2.0 points possible (graded)
What proportion of the interviewees from the "New York-Northern New Jersey-Long Island, NY-NJ-PA" metropolitan area have a country of birth that is not the United States? For this computation, don't include people from this metropolitan area who have a missing country of birth.

In [165]:
df_4_3 =df_demo_metro_birth[(df_demo_metro_birth.MetroArea=='New York-Northern New Jersey-Long Island, NY-NJ-PA')].Country.value_counts()
df_4_3[1:].sum()*100.0/df_4_3.sum()

30.866025166543302

Problem 4.4 - Integrating Country of Birth Data
3 points possible (graded)
Which metropolitan area has the largest number (note -- not proportion) of interviewees with a country of birth in India? Hint -- remember to include na.rm=TRUE if you are using tapply() to answer this question.

In [168]:
df_demo_metro_birth[df_demo_metro_birth.Country=='India'].groupby('MetroArea').count().PeopleInHousehold.argmax()

'New York-Northern New Jersey-Long Island, NY-NJ-PA'